<html>

<head>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>

<body>


    <% if(obj[0]===undefined){ %>
        <h1>wrong id</h1>
        <% } 
    else{ %>
            <nav class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href='/profile'>Story App</a>
                    <ul class="nav pull-right">
                        <li>
                            <h3><a href="/profile">
                   <%=obj[0].user%>
                    </a></h3>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <h3><%=obj[0].event_title%></h3>
                <p>
                    <h4>  <%= obj[0].event_content%></h4>

                    <% if(obj1[0].flag==true){ %>
                        <form name="Edit" method="POST" action="/edited" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="_method" value="PUT">
                            <h3>Title:</h3>
                            <input type="text" name="edit_event_title" id="edit_event_title" value="<%=obj[0].event_title%>">
                            <h3>Content:</h3>
                            <input type="text" name="edit_event_content" id="edit_event_content" value="<%= obj[0].event_content%>">
                            <input type="submit" value="Edit" id="Edit">
                        </form>
                        <hr style="border-top: 1px solid #8c8b8b;">
                        <br>
                        <% } 
                     else{%>


                            <% if(obj[0].event_price!=0){ %>
                                <p>
                                    Early Bird Price :
                                    <%=obj[0].early_bird_perc%> (for 1st 10 users only)
                                </p>
                                <%} %>
                                    <p>
                                        Event Price:
                                        <%=obj[0].event_price%>
                                    </p>





                                    <form name="orderTicket" action="order/<%=obj[0].event_id%>" method="post">
                                        <input type="submit" value="Buy Ticket">
                                    </form>
                                    <p>Attendance:
                                        <%=obj1[0].number%>
                                    </p>
                                    <hr style="border-top: 1px solid #8c8b8b;">
                                    <%}%>

                                        <form name="commentsection" action="/events/<%=obj[0].event_id%>" method="post">
                                            new comment:
                                            <input type="text" name="new_comment" id="new_comment">
                                            <input type="submit" value="comment">
                                        </form>
                                        <ul>

                                            <% for(var i=0; i< obj.length; i++) {%>



                                                <li>
                                                    <%= obj[i].username%>:
                                                        <%= obj[i].comment%>
                                                </li>

                                                <%}%>
                                        </ul>

                                        <%}%>

            </div>

</body>



</html>